header {
    background-color: #ffffff;
    text-align: center;
    height: 122px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#myTopnav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    float: right;
    position: relative;
    text-align: center right;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    position: relative;
    background-color: #4AAAA5;
    padding: 30px 15px;
}

body {
    background-image: url("dust_scratches/dust_scratches.png");
    width: 100%;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 20px;
    color: #777777;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px;
    box-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    color: #4AAAA5;
}

img {
    float: left;
    margin: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray
}

footer {
    background-color: #666666;
    width: 100%;
    margin-top: 80px;
    text-align: center;
    height: 40px;
    border: 3px 0px 0px 0px solid #4AAAA5;
    display: inline-block;
}